.inner{
    padding: 1.5rem 1rem;
    max-width: 1072px;
    margin: 0 auto;
    display: flex;
    align-items: center;    
    justify-content: center;
}
.button {
    background-color: transparent;
    color: #525B56;
    border: #525B56 1px solid;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
}