.container{
    background-color: #B8C2BC;
    color: #525B56;
}

.footer{
    padding: 1.5rem 1rem;
    text-align: center;
    max-width: 1072px;
    margin: 0 auto;
    display: flex;
    align-items: center;    
    justify-content: center;
}
.logos {
    float: right;
}
.logos a:first-of-type{
    margin: 0 1rem 0 0;
}
.logos img{
    filter: brightness(0) saturate(100%) invert(35%) sepia(11%) saturate(331%) hue-rotate(94deg) brightness(90%) contrast(85%);
}