html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #F0E7DB;
}

a {
  color: inherit;
  text-decoration: none;
}

.pink {
  color: #BB8C80;
}
.grey{
  color: #9DA9A4;
}
.turquoise{
  color: #077982;
}
