.heroSection {
    background-color: #B8C2BC;
    display:flex;
    align-items: center;    
    justify-content: center;
    text-align: center;
}

h1.title {
    color: #077982;  
    font-size: xx-large;
    margin-right: 0.5rem;
}
h3.break{
    color:#9DA9A4;
    font-size: x-large;
    margin-right: 0.5rem;

}
h3.subtitle {
    color: #BB8C80;
    font-size: x-large;
}
.languages{
    color: #525B56;
    background-color: #B8C2BC;
    /* min-height: 25vh; */
    display:flex;
    align-items: center;    
    justify-content: center;
}
.languages span{
    margin-right: 1rem;
}
@media (max-width: 480px) {
    h1.title {
        margin:0;
    }
    h3.subtitle {
        margin: 0;
        padding: 0 0 1rem 0;
    }
    .heroSection {
        display: block;
    }
    h3.break{
        display: none;
    }
}