.container{
    background-color: #B8C2BC;
}

.nav{
    margin: 0 auto;
    padding: 1.5rem 1rem;
    color: #BB8C80;
    max-width: 1072px;
}
.logo{
    font-weight: bolder;
    font-size: xx-large;
}
.button {
    background-color: transparent;
    color: #525B56;
    border: #525B56 1px solid;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    float: right;
}